NodeRed/flows.json
[{"id":"44cf8966.ccf978","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"301955ee.78410a","type":"mqtt in","z":"44cf8966.ccf978","name":"","topic":"voltage","qos":"2","datatype":"auto","broker":"d193b500.d44b4","x":170,"y":320,"wires":[["c642af3c.0df04","9b4453d7.3332d"]]},{"id":"c642af3c.0df04","type":"debug","z":"44cf8966.ccf978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":320,"wires":[]},{"id":"eb7caea1.b860d","type":"inject","z":"44cf8966.ccf978","name":"","topic":"voltage","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["7d0a6078.5adf"]]},{"id":"7d0a6078.5adf","type":"mqtt out","z":"44cf8966.ccf978","name":"","topic":"voltage","qos":"","retain":"","broker":"d193b500.d44b4","x":520,"y":100,"wires":[]},{"id":"9b4453d7.3332d","type":"mongodb out","z":"44cf8966.ccf978","mongodb":"5cb1e83f.f0eb1","name":"","collection":"readings","payonly":false,"upsert":false,"multi":false,"operation":"store","x":600,"y":440,"wires":[]},{"id":"72d88a1a.251fac","type":"comment","z":"44cf8966.ccf978","name":"Test Publish Raw","info":"","x":160,"y":60,"wires":[]},{"id":"ae3327ce.33712","type":"comment","z":"44cf8966.ccf978","name":"Subscribe to Voltage Topic","info":"","x":210,"y":260,"wires":[]},{"id":"7a290e87.31edd","type":"http in","z":"44cf8966.ccf978","name":"Voltage Reading","url":"/volttmp","method":"get","upload":false,"swaggerDoc":"","x":200,"y":600,"wires":[["2a64ef97.234be"]]},{"id":"51e0ecc1.b4846c","type":"comment","z":"44cf8966.ccf978","name":"Web Endpoing for Showing Last 10 Readings","info":"","x":270,"y":540,"wires":[]},{"id":"d7e9a96e.ab12f8","type":"http response","z":"44cf8966.ccf978","name":"Voltage Readings","statusCode":"","headers":{},"x":510,"y":760,"wires":[]},{"id":"2a64ef97.234be","type":"mongodb3 in","z":"44cf8966.ccf978","service":"_ext_","configNode":"e9c541ce.e78798","name":"","collection":"readings","operation":"find.toArray","x":570,"y":600,"wires":[["d7e9a96e.ab12f8"]]},{"id":"d193b500.d44b4","type":"mqtt-broker","z":"","name":"Local MQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5cb1e83f.f0eb1","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"volttmp","name":""},{"id":"e9c541ce.e78798","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017/volttmp","name":"","options":"","parallelism":"-1"}]